{% extends "base.html" %}
{% block content %}

<table border="1">
    <tr>
        <th>Original URL</th>
        <th>Short URL</th>
        <th>Clicks</th>
    </tr>

    {% for url in urls %}
    <tr>
        <td>{{ url.original_url }}</td>
        <td>
            <a href="{{ request.host_url }}{{ url.short_code }}">
                {{ request.host_url }}{{ url.short_code }}
            </a>
        </td>
        <td>{{ url.clicks }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="{{ url_for('main.home') }}">Back to Home</a>

{% endblock %}
